:root {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    background-color: linen;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;

}

#title {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    /* text-transform: uppercase; */
}

button {
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    /* border: 2px solid firebrick; */
    border-radius: 20px;
    grid-column-start: 2;
    /* text-transform: uppercase; */

}
textarea{
    font-size: 20px;

}

.bar {
    margin: 5px;
    width: auto;
    color: black;
    padding: 16px;
    border: 1px solid green;
    background-color: #fff;
    -webkit-animation: random 5s infinite;
    animation: random 10s infinite;
    display: inline-grid;
    grid-gap: 5px;
    /* color: #fff; */
    justify-self: center;

}

#lettersDiv {
    text-align: center;
    border: 3px solid rgb(0, 255, 85);
    text-transform: uppercase;
    grid-row-start: span 10
}

#wordsDiv {
    text-align: center;
    border: 3px solid rgb(176, 214, 8);
    text-transform: uppercase;
    grid-row-start: span 10
}